{% extends 'base.html.twig' %}

{% set pageTitle = "Übersicht" %}

{% block main %}
	{# <article>
		<form action="{{ path('app_original_car_search') }}">
			<input type="search" name="q" class="form-control" placeholder="Search..." aria-label="Search car">
			<input type="number" name="manufacturedYear" class="form-control" placeholder="Hergestellt in Jahr" aria-label="Search manufactured year">
			<button type="submit" class="btn btn-primary">Suchen</button>
		</form>
	</article> #}
	<div class="input-group mb-3">
		<button class="btn btn-outline-secondary dropdown-toggle search-input__dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">Suchen</button>
		<ul class="dropdown-menu">
			<li>
				<span class="dropdown-item search-input__active --car">Auto</span>
			</li>
			<li>
				<span class="dropdown-item search-input__active --year">Baujahr</span>
			</li>
		</ul>
		<form action="{{ path('app_original_car_search') }}" class="flex-grow-1 d-flex align-items-center">
			<input type="text" name="car" class="form-control search-input is-show" placeholder="Marken oder Typenbezeichnung" aria-label="Search car">
			<input type="number" name="manufacturedYear" class="form-control search-input" placeholder="Hergestellt in Jahr" aria-label="Search manufactured year">
		 	<button type="submit" class="btn btn-primary order-3">Suchen</button>
		</form>
	</div>
	<article class="w-100 overflow-hidden rounded-2">
		<table class="table table-hover m-0 p-0">
			<thead>
				<tr class="table-primary bg-gradient align-middle">
					<th>Nr.</th>
					<th>Marke</th>
					<th>Typen-<br>bezeichnung</th>
					<th>Leistung</th>
					<th>Baujahr</th>
					<th>Image</th>
					<th>Created At</th>
					<th class="text-center">Aktionen</th>
				</tr>
			</thead>
			<tbody>
				{% for original_car in original_cars %}
					<tr class="align-middle">
						<td>
							<a href="{{ path('app_original_car_show', {'ulid': original_car.ulid}) }}" class="text-decoration-underline fw-semibold">{{ loop.index > 10 ?: "0"~loop.index}}</a>
						</td>
						<td>{{ original_car.brand.brandName }}</td>
						<td>{{ original_car.model }}</td>
						<td>{{ original_car.performancePS }}
							PS /
							{{ original_car.performancePS }}
							kW</td>
						<td>
							{% if original_car.manufacturedFrom %}
								{{ original_car.manufacturedFrom }}
							{% endif %}
							-
							{% if original_car.manufacturedTo %}
								{{ original_car.manufacturedTo }}
							{% endif %}
						</td>
						<td>{{ original_car.image }}</td>
						<td>{{ original_car.createdAt ? original_car.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td class="text-center">
							<a href="{{ path('app_original_car_edit', {'ulid': original_car.ulid}) }}" class="me-m1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Bearbeiten">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a href="{{ path('app_original_car_delete', {'ulid': original_car.ulid}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Entfernen">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</article>

	{% if isSearch is defined %}
	<a href="{{path('app_index')}}" class="btn btn-secondary mt-2">Zurück</a>
	{% endif %}


{% endblock %}
